extends layout
block content
   div(class="row")
      div(class="col-sm-10")
         | Emisiuni
      div(class="col-sm-2")
         ul(class="nav nav-pills nav-stacked")
            li(role="presentation")
               a(href="/program/emisiuni") Emisiuni
            li(role="presentation")
               a(href="#") Emisiuni
            li(role="presentation")
               a(href="#") Emisiuni
            li(role="presentation")
               a(href="#") Emisiuni
