extends layout

block content
    div(class="row")
        div(class="col-sm-9")
            table(class="table table-striped table-bordered table-center table-settings", ng-controller="emTypesController as typesCtrl")
                thead
                    tr
                        td {{ typesCtrl.tableTitle }}
                tbody
                    tr(ng-repeat="type in typesCtrl.tableRows")
                        td {{ type.name }}
            table(class="table table-striped table-bordered table-center", ng-controller="defaultEmissionsController as defEmCtrl")
                thead
                    tr
                        td(colspan=4) {{ defEmCtrl.tableTitle }}
                    tr
                        td Nume
                        td Genul emisiunii
                        td Durată
                        td Zilele si orele de difuzare
                tbody
                    tr(ng-repeat="emission in defEmCtrl.tableRows")
                        td
                            strong {{ emission.defaultName }}
                        td {{ emission.defaultType }}
                        td {{ emission.defaultLength }}
                        td
                            table(class="table table-modele-emisiuni")
                                tr(ng-repeat="showTime in emission.defaultTime" ng-show="showTime.hour")
                                    td {{showTime.daysStr}}
                                    td(class="hours")
                                        strong {{showTime.hour}}

            div(ng-view)
        div(class="col-sm-3 menu-right")
            include ../blocks/settings-menu