body {
  padding-top: 50px;
}

table{
  margin: 0 auto;
  thead{
    font-weight: bold;
  }
  tbody{
    color: gray;
  }
  &.table-center{
    text-align: center;
  }
  &.table-settings{
    width: 250px;
  }
}

.menu-right{
  text-align: center;
}