body {
  padding-top: 50px;
}

table{
  margin: 0 auto;
  thead{
    font-weight: bold;
    tr:hover{
      color: #ffffff;
    }
  }
  tbody{
    color: gray;
  }
  &.table-center{
    text-align: center;
  }
  &.table-settings{
    width: 250px;
  }
}