div(class='panel panel-info')
    div(class='panel-heading')
        h3(class='panel-title')
            span(class='fa fa-desktop')
            |  Emisiuni
    a(href="/settings/emisiuni/types", class="list-group-item") Gen emisiuni